{% extends "about/about_template.html" %}
{% block aboutcontent %}
<article id="downloads">
<h2 class="main-headline">Downloads</h2>

<ul>
	<li><a href="#offline">Offline Server</a></li>
	<li><a href="#store">DVD Store</a></li>
	<li><a href="#spreadsheets">Spreadsheets</a></li>
	<li><a href="#other">Other Video Sources</a></li>
</ul>

<br/>

<a name="offline"><h2>Offline Server</h2></a>
<p>
    For an offline capable version of the site for Windows, visit the
    <a href="http://code.google.com/p/khanacademy/downloads/list">download page.</a>
    Unzip it and click on run.bat, which will start up the server and load the
    local version of the Khan Academy homepage in your browser.
</p>
<p>
    Next go to the download_scripts directory and click on the playlist(s) you want to download
    (download_ALL.bat will get everything).  When you're done, the videos you've downloaded
    will work when you click on them in the browser.
</p>

<a name="store"><h2>Khan Academy Videos on DVD</h2></a>

<p>
    We are still trying to figure out if it's possible to automate the delivery of Khan Academy videos on DVD. If you're interested, please leave a <a href="http://code.google.com/p/khanacademy/issues/detail?id=952#makechanges">comment</a>
    telling us which DVD(s) you would be interested in purchasing.
</p>

<div class="dvd-list section-headline">
<strong>Math DVD</strong>
<ul>
<li>Arithmetic</li>
<li>Pre-algebra</li>
<li>Algebra</li>
<li>Geometry</li>
<li>Trigonometry</li>
<li>Probablility</li>
<li>Statistics</li>
<li>Pre-Calculus</li>
</ul>
</div>
<div class="dvd-list section-headline">
<strong>Math Worked Examples DVD</strong>
<ul>
<li>Developmental Math</li>
<li>Developmental Math 2</li>
<li>Algebra I Worked Examples</li>
<li>ck12.org Algebra 1 Examples</li>
<li>Singapore Math</li>
</ul>
</div>
<div class="dvd-list section-headline">
<strong>Advanced Math DVD</strong>
<ul>
<li>Calculus</li>
<li>Differential Equations</li>
<li>Linear Algebra</li>
</ul>
</div>
<div class="dvd-list section-headline">
<strong>Test Prep DVD</strong>
<ul>
<li>MA Tests for Education Licensure (MTEL) -Pre-Alg</li>
<li>California Standards Test: Algebra I</li>
<li>California Standards Test: Algebra II</li>
<li>California Standards Test: Geometry</li>
<li>CAHSEE Example Problems</li>
<li>SAT Preparation</li>
<li>IIT JEE Questions</li>
<li>GMAT Data Sufficiency</li>
<li>GMAT Problem Solving</li>
</ul>
</div>
<div style="clear: left;"></div>
<div class="dvd-list section-headline">
<strong>Finance DVD</strong>
<ul>
<li>Finance</li>
<li>Banking and Money</li>
<li>Valuation and Investing</li>
<li>Venture Capital and Capital Markets</li>
<li>Credit Crisis</li>
<li>Paulson Bailout</li>
<li>Geithner Plan</li>
<li>Current Economics</li>
<li>Currency</li>
</ul>
</div>
<div class="dvd-list section-headline">
<strong>Science DVD</strong>
<ul>
<li>Cosmology and Astronomy</li>
<li>Biology</li>
<li>Physics</li>
</ul>
</div>
<div class="dvd-list section-headline">
<strong>Chemistry DVD</strong>
<ul>
<li>Chemistry</li>
<li>Organic Chemistry</li>
</ul>
</div>
<div class="dvd-list section-headline">
<strong>Misc DVD</strong>
<ul>
<li>Talks and Interviews</li>
<li>History</li>
<li>Brain Teasers</li>
</ul>
</div>

<div class="clear"></div>
<a name="spreadsheets"><h2 class="section-headline">Spreadsheets</h2></a>
<p>
    These example spreadsheets are mentioned in some Khan Academy videos. Download and work with them while watching.
</p>
<ul>
    <li><a href="/downloads/MortgageCalculator.xlsx">Fixed Mortgage Calculator</a></li>
    <li><a href="/downloads/NormalIntro.xls">Introduction to the Normal Distribution</a></li>
    <li><a href="/downloads/NormalDistribution.xls">Binomial and Normal Distribution Comparison</a></li>
    <li><a href="/downloads/cupcakes.xls">Sal's Cupcake Factory</a></li>
    <li><a href="/downloads/buyrent.xls">Home Purchase Model</a></li>
</ul>

<br/>

<a name="other"><h2>Other Video Sources</h2></a>
<p>
    Here are some other sources for downloading Khan Academy videos.<br/>
    <strong>Note: we have little or no experience with many of these, so they aren't officially supported.</strong>
</p>

<ul>
    <li><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewiTunesUInstitution?id=391034778">
    Khan Academy</a> on iTunes U.</li>
    <li><a href="http://www.archive.org/details/khanacademy">Khan Academy on archive.org</a>
    </li>
    <li><a href="http://www.utorrent.com/apps">BitTorrent's official Khan Academy app</a> (download the Khan Academy app).</li>
    <li><a href="http://www.AppUp.com">Intel's application store where offline video player is available</a> (download the Khan Academy app).</li>
    <li><a href="http://mujica.org/khan/">Khan Academy on a Stick</a>
    Math and Science lectures from khanacademy.org, as available on September 2010.
    </li>
    <li><a href="http://itunes.apple.com/us/app/khan-academy-a-classroom-in/id361975619?mt=8">
    Khan Academy: A Classroom In Your Pocket</a> by Irynsoft. An app for the ipod/iphone/ipad.</li>
    <li><a href="http://khanacademy.googlecode.com/files/khanacademy.org%20-%20COMPLETE%20-%202010-12-10.torrent">
    Torrent</a> of all videos as of 2010-12-10.  Download using <a href="http://www.bittorrent.com/">BitTorrent</a> for numbered videos.</li>
    <li><a href="http://code.google.com/p/khanacademy/issues/detail?id=191">Downloadable Material issue</a>
    on code.google.com.  Check here for updates.
    </li>
</ul>
</article>
{% endblock aboutcontent %}

