*.pyc
*combined.js
*compressed.js
*combined.css
*compressed.css
*compressed-ie.css
*.less.css
*uri.css
*.espressostorage
hashed-*.css
hashed-*.js
js_css_packages/packages_hash.py
js_css_packages/packages_compressed.py
*.pem
secrets.py
secrets_dev.py
datastore/*
sample_data/bulkloader*
*.DS_Store
offline/*
.*.swp
.*.un~
compiled_templates*
.git
*.handlebars.js
.project
.pydevproject
deploy/node_modules/*
.settings/org.eclipse.core.resources.prefs
.tags
.tags_sorted_by_file