<a class="related-video" href="{{href}}" title="{{video.title}}">
    <span class="video-title vid-progress v{{video.id}}">
        {{video.title}}{{#if separator}}<span class='separator'>, </span>{{/if}}
    </span>
</a>
