{% extends "page_template.html" %}

{% import 'macros/analytics.html' as analytics %}

{% block meta_page_title %}Contribute | {% endblock meta_page_title %}
{% block pagescript %}
    <style>
        #page_sub_nav { display: none; }
        #public #container #form1 #header {display: none; }
    </style>
{% endblock pagescript %}
{% block pagecontent %}
<article id="contribute">
    <div class="col1 sixty-forty">
        <h2 class="section-headline">Help mee!</h2>
		<p>
			We kunnen je hulp goed gebruiken! Geloof je ook in de mogelijkheden die de Khan Academie biedt? Help dan mee met:</p>
			<ul>
				<li style="font-size:14px;"><a href="http://blog.khanacademie.nl/p/help-met-vertalen.html">het vertalen van reken- en wiskundeoefeningen</a></li>
				<li style="font-size:14px;"><a href="http://blog.khanacademie.nl/p/maak-filmpjes.html">het maken van uitlegvideo's</a></li>
				<li style="font-size:14px;"><a href="http://blog.khanacademie.nl/p/content-voor-taaloefeningen.html">het ontwikkelen van content voor taaloefeningen</a></li>
			</ul>
			<p>Daarnaast zijn we erg benieuwd naar ervaringen uit de praktijk, zoals ook te zien op&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.khanacademy.org/stories" target="_blank">http://www.khanacademy.org/stories</a>
		</p>
	</div>
    
    <div class="clear"></div>
    <hr>
    <div class="col1 sixty-forty">
			<h2>Spread the word!</h2>
			<p>
				Ook een goede manier om te helpen, is door anderen te vertellen over de Nederlandse Khan Academie.
				De eerste enthousiaste gebruikers zijn er, er zijn zelfs al scholen die er gebruik van maken, maar er is eigenlijk geen enkele reden waarom  
				niet heel Nederland leert met behulp van de Khan Academie.
				Vertel je netwerk over de kracht, het nut en de mogelijkheden van de Khan Academie!
			</p>
			<p>
				<a href="http://www.facebook.com/pages/Khanacademie-NL/123650984422563" class="simple-button action-gradient social-button">
					<img src="/images/social_facebook_box_blue_48.png" width=48 height=48 />
					Join us on Facebook
				</a>
				<a href="http://twitter.com/khanacademie" class="simple-button action-gradient social-button">
					<img src="/images/social_twitter_box_blue_48.png" width=48 height=48 />
					Follow us on Twitter
				</a>				
				<a href="https://plus.google.com/b/100213809438509670719/" class="simple-button action-gradient social-button">
					<img src="/images/social_g+.png" width=48 height=48 />
					Join us on Google+
				</a>				
				<a href="http://www.linkedin.com/groups/Khan-Academy-Nederland-4223536?gid=4223536&trk=hb_side_g" class="simple-button action-gradient social-button">
					<img src="/images/social_linkedin_box_blue_48.png" width=48 height=48 />
					Join us on LinkedIn
				</a>
			</p>
			<p>
			Wil jij de Khan Academie ook op jouw school gebruiken?
			<a href="/toolkit">Lees meer</a> en vraag jouw school een
			<a href="/nl-content/gettingstarted.html#schools">aanmeldformulier in te sturen</a>.
			</p>
	</div>
		<div class="clear"></div>
		<hr>
	<!--<div class="col1 sixty-forty">
		<h2>Vertalen</h2>
		<p>
			Tijdens dit project komen wij engelse termen en woorden tegen waarvan wij niet weten wat de juiste vertaling is.</br>
			In <a href="https://docs.google.com/a/perceptum.nl/spreadsheet/ccc?key=0AvDEGvPnvBfDdFlwMzFLR09jbThfTHVIZFFEaTRFZGc#gid=0">dit sheet</a> vindt je alle te vertalen termen, titels en namen. Ze zijn verdeeld over verschillende tabbladen.
			Iedereen kan zijn of haar vertalingen invoeren in het sheet, wees dus voorzichtig met het wijzigen.</br>Staat er al een vertaling maar weet je een betere? Plaats deze dan in de kolom er naast.
			<div><iframe width='485' height='600' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AvDEGvPnvBfDdEhMUXpzR0dVMTBSc3ExQmVrMHpCSmc&single=true&gid=3&output=html&widget=true'></iframe></div>
		</p>
	</div>
	<div class="clear"></div>
    <hr>		
	<div class="col1 sixty-forty">
			<h2>Hoe maak je een instructiefilmpje?</h2>
			<p>
				Je hebt er verrassend weinig voor nodig:
				<ul>
				<li style="font-size:14px;">een computer met internettoegang</li>
				<li style="font-size:14px;">een microfoon</li>
				<li style="font-size:14px;">muis of tekentablet</li>
				<li style="font-size:14px;">Paint of ander tekenprogramma</li>
				<li style="font-size:14px;">YouTube account (login kan met Google account, wat je ook nodig hebt voor Khan Academie)</li>
				</ul>
			</p>
			<p>
			Het is handig om een tekentablet te hebben, zelf gebruik ik een Wacom Bamboo (ongeveer &euro;80,- gekost). Een andere mogelijkheid is om het digitale schoolbord te gebruiken, zorg dan wel voor een goede microfoon. Verder gebruik ik een Logitech headset, geluid is niet super, maar voorlopig goed genoeg.
			</p>
			<p>
			Als recording software gebruik ik <a href="http://screencast-o-matic.com">screencast-o-matic</a>. De gratis versie toont bij de opnames een logo van screencast-o-matic, met een licentie van $12,- per jaar heb je dat niet. Ander voordeel van de Pro-editie is dat je makkelijker opnames naar YouTube kunt sturen, je hoeft niet te wachten tot de upload klaar is om weer een nieuwe opname te maken.
			</p>
			<h4>Is het moeilijk?</h4>
			<p>
			Nee, het is niet moeilijk, maar de meeste mensen (waaronder ikzelf)  vinden het maken en publiceren van het eerste filmpje erg lastig. Het horen van je eigen stem, angst dat niemand zit te wachten op jouw uitleg, het draagt niet bij aan de laagdrempeligheid van het maken van filmpjes. 
			Oplossing? Gewoon doen!
			</p>
			<h4>Wat ook helpt?</h4> 
			<p>
			Het helpt mij om te bedenken dat als iemand een filmpje van mij niet goed vindt, dit voor hem/haar een motivatie kan zijn om zelf filmpjes te gaan maken.
			</p>
			<div><iframe width="560" height="315" src="http://www.youtube.com/embed/q1ho0Q10wWA" frameborder="0" allowfullscreen></iframe></div>
	</div>
	<div class="clear"></div>
    <hr>

	<div class="col1 sixty-forty">
		<h2>Instructie filmpjes insturen</h2>
		<p>
			Gebruik het formulier hier onder om de door jou gemaakte filmpjes in te sturen. Wij voegen ze toe aan de playlists en koppelen ze aan de bijbehorende oefening. 
			<div style="width:500px; height:291px; overflow:hidden;"><iframe src="https://docs.google.com/a/perceptum.nl/spreadsheet/embeddedform?formkey=dFlHWXlaWmlvYzF4OUhGdklzdUFLYmc6MQ" width="760" height="623" frameborder="0" marginheight="0" marginwidth="0">Bezig met laden...</iframe></div>	
		</p>
	</div>
	<div class="clear"></div>
    <hr>
	<div class="col1 sixty-forty">
		<h2>Welke video's kan ik maken?</h2>
		<p>
			In dit sheet zie je de oefeningen en bijbehorende video's.</br>
			Staat er nog geen link naar een Nederlandse video? Dan is deze nog niet gemaakt.
			<div><iframe width='1200' height='600' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Aj0XNyxYc8JDdGNzeGpuNGxrOVVpd21zVUprZFF1TlE&single=true&gid=0&output=html'></iframe></div>
		</p>
	</div>
	<div class="clear"></div> 
    <hr>	-->

    <div style="text-align:center; padding-bottom: 18px;"><p>De Nederlandse Khan Academie zou niet bestaan zonder de hulp, tijd, energie en expertise van de vele vrijwilligers.</p></div>
</article>
{% endblock pagecontent %}
{% block bottompagescript %}
    {{ analytics.crazyegg_tracker(False) }}
{% endblock bottompagescript %}