{% extends "page_template.html" %}
{% block pagescript %}
<style>
    #dmca { font-size: 15px; line-height: 1.5em; }
    #dmca a:visited { color: #069; }
    #dmca ol { list-style: decimal; margin-left: 3em; }
    #dmca ol li { margin-bottom: 1.5em; }
</style>
{% endblock pagescript %}
{% block pagetitle %}Digital Millennium Copyright Act Notification Guidelines{% endblock pagetitle %}
{% block pagecontent %}
<article id="dmca">
<h1 class="main-headline">Digital Millennium Copyright Act Notification Guidelines</h1>
<h3>Notification of Infringement</h3>
<p>It is our policy to respond to clear notices of alleged copyright infringement. This page explains the information that must be included in these notices, as required by the Digital Millennium Copyright Act (“DMCA”).  Upon receipt of a DMCA compliant notice, Khan Academy, Inc., a 501(c)(3) organization (“Khan Academy”), will expeditiously remove or disable access to the content that is the subject of the notice.</p>
<p>If you are a copyright owner or an authorized agent thereof, and you wish to file a notice of infringement with us, then you may submit a notice by providing Khan Academy’s Designated Copyright Agent with the following information in writing (please consult your legal counsel or See 17 U.S.C. Section 512(c)(3) to confirm these requirements): </p>
<ol>
    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li> 
    <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the Khan Academy website are covered by a single notification, a representative list of such works at that site.</li>
    <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Khan Academy to locate the material.</li>  
    <li>Information reasonably sufficient to permit Khan Academy to contact you, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted.</li>
    <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>
    <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ol>
<p>Please note that under Section 512(f) of the DMCA, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.  If you are unsure whether the material available online infringes your copyright, we suggest that you contact an attorney before sending us a notice.</p>
<h3>Counter-Notification</h3>
<p>The administrator of an affected site or the provider of affected content may make a counter notification under sections 512(g)(2) and (3) of the DMCA.  If you elect to send us a counter notice, to be effective it must be a written communication that includes the following (please consult your legal counsel or See 17 U.S.C. Section 512(g)(3) to confirm these requirements):</p>
<ol>
    <li>A physical or electronic signature of the subscriber.</li>
    <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled.</li>
    <li>A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</li>
    <li>The subscriber’s name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the subscriber’s address is outside of the United States, for any judicial district in which Khan Academy may be found, and that the subscriber will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.</li>
</ol>
<p>Please note that under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability.</p>
<h3>Designated Copyright Agent</h3>
<p>Khan Academy’s Designated Copyright Agent to receive notifications and counter-notifications of claimed infringement can be reached as follows:</p> 

<p>
    <ul>
        <li><strong>Address:</strong> 	Khan Academy, PO Box 1630, Mountain View, CA 94042</li>
        <li><strong>Email:</strong> 		<a href="mailto:copyright@khanacademy.org">copyright@khanacademy.org</a></li>
    </ul>
</p>
<p>For clarity, only DMCA notices should go to the Khan Academy Designated Copyright Agent.  Any other feedback, comments, requests for technical support or other communications should be directed to Khan Academy through <a href="mailto:info@khanacademy.org">info@khanacademy.org</a>.  You acknowledge that if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid.</p>
<h3>Account Termination</h3>
<p>In appropriate circumstances, Khan Academy will promptly terminate, without notice, the accounts of those determined in our sole discretion to be "repeat infringers."</p>
</article>
{% endblock pagecontent %}