{% extends "reportissue_template.html" %}
{% block pagetitle %}Make a comment{% endblock pagetitle %}
{% block have_an_issue %}Got something on your mind?{% endblock have_an_issue %}
{% block submitted_the_issue %}told us the same thing{% endblock submitted_the_issue %} 
{% block list_of_issues_link %}<a href="http://code.google.com/p/khanacademy/issues/list?can=2&q=Status:Accepted,Started%20Type:Comment&sort=-stars&colspec=Summary">list of comments</a>{% endblock list_of_issues_link %}
{% block new_issue_link %}<a href="http://code.google.com/p/khanacademy/issues/entry?template=Comment%20from%20user&labels=Referer-{{referer|urlencode}},Type-Comment,{{issue_labels|urlencode}}">new comment form</a>{% endblock new_issue_link %}
