<HEAD>
<TITLE>Khan Academy</TITLE>

		<style type="text/css">
		
			body {font-family:Arial,Helvetica,sans-serif;}
body {font-size:0.8em;}
BODY {margin: 0} 

table {border:0px;padding:0px;margin:0px;}
h1{font-size:1.4em;}
h2{font-size:1.6em;}
h3{font-size:12px; line-height:18px;}
td{font-size:12px;}
td.large{font-size:18px;}

#playlist a:visited{ text-decoration: none; color : #581C90; }

.mainmenu		{ font-size : 12px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }



img {border-style: none;}


div.hdg    {background-color:#E6F8DD; border-top:1px solid #80C65A;}
tr.hdgr td {background-color:#E6F8DD; border-top:1px solid #80C65A;}
tr.hdg     {background-color:#E6F8DD;}

td.hdg     {border-top:1px solid #80C65A;}
.mobile-only { display: none; }
ul { list-style: none; margin: 0; padding: 0;}
ol
		
		</style>

</HEAD>
<body bgcolor=white>
<div id="sat-description" class="desktop-only">
<center>
<table border=0 width=640 align=center>
<tr>
<td><A href="/" border=0><img src="/images/khan.GIF"></a></td>
<td align=right valign=bottom width=100%>
<A href="http://youtube.com/khanacademy" target="newwin"><b>YouTube Channel</b></A> |  <A href="/"><b>Video Library</b></A> |  <A href="/exercisedashboard">Login</A></td>

</td>
</tr>
<tr><td colspan=2>

<table width=640 border=0>
<tr><td width=20><img src="images/blank.gif" height=30 width=50></td><td></td><td><img src="images/blank.gif" height=5 width=10></td><td></td></tr>
<tr><td colspan=4><h2>&nbsp;&nbsp;&nbsp;SAT Preparation</h2></td></tr>
<tr><td></td><td></td><td></td><td></td></tr>
<tr>
<td ></td>
<td valign=top></td>
<TD></td>
<td>
<img src="http://ecx.images-amazon.com/images/I/5193F7Z7DFL._SS75_.jpg" align=right>We have done all 8 math practice tests (432 problems) 
in the old version of "The Official SAT Study Guide" by the College Board (ISBN Number: 0-87447-718-2 published in 2004) in the 100+ videos below.  If you have the
new version of the book with 10 Practice Tests, we have given the coressponding test in the titles below.



<P>
We recommend that you buy the book and take at least one practice test (3 math sections) per week during each of the 8 weeks prior to the exam.  In the earlier
weeks, you should focus on comprehending and working on every problem. In the second four weeks, you should focus on speed and eliminating careless mistakes 
(although you should still try to do any problems that you didn't get to). 
After grading each of your exams, watch the corresponding video below.
<P>

If you have the self-discipline to take the practice tests, review your problems and watch the videos, we think you will be as prepared as anyone.  You should
view these videos as your on-demand personal tutor.  
<P>
If you need to review (or learn) underlying mathematical concepts covered on the SAT, we have over 1600 videos on general math topics in our <A href="/">video 
library</A>. 
<P>

<P>


<P>
Worked Questions on All Practice Tests:
</div>		
<div data-role="page" data-theme="b">
    <div data-role="header" class="mobile-only">
        <h1>SAT Preparation</h1>
    </div>
	<div data-role="content">
        <ul data-role="listview">
            <li>
                Old Book: Test 1
        		<ol data-inset="true">
            		<li><A href="/video/sat-prep--test-1-section3-part-1">SAT prep: test 1 section3 part 1</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-2">SAT Prep: Test 1 Section 3 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-3">SAT Prep: Test 1 Section 3 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-4">SAT Prep: Test 1 Section 3 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-5">SAT Prep: Test 1 Section 3 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-6">SAT Prep: Test 1 Section 3 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-7">SAT Prep: Test 1 Section 3 Part 7</A></li>
                    <li><A href="/video/sat-prep--test-1-section-3-part-8">SAT Prep: Test 1 Section 3 Part 8</A></li>
                    <li><A href="/video/sat-prep--test-1-section-6-part-1">SAT Prep: Test 1 Section 6 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-1-section-6-part-2">SAT Prep: Test 1 Section 6 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-1-section-6-part-3">SAT Prep: Test 1 Section 6 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-1-section-6-part-4">SAT Prep: Test 1 Section 6 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-1-section-6-part-5">SAT Prep: Test 1 Section 6 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-1-section-6-part-6">SAT Prep: Test 1 Section 6 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-1-section-9-part-1">SAT Prep: Test 1 Section 9 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-1-section-9-part-2">SAT Prep: Test 1 Section 9 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-1-section-9-part-3">SAT Prep: Test 1 Section 9 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-1-section-9-part-4">SAT Prep: Test 1 Section 9 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-1-section-9--part-5">SAT Prep: Test 1 Section 9  Part 5</A></li>
                </ol>
    		</li>
            <li>
    			Old Book: Test 2, New Book: Test 4
    			<ol data-inset="true">
    				<li><A href="/video/sat-prep--test-2-section-3-part-1">SAT Prep: Test 2 Section 3 part 1</A></li>
                    <li><A href="/video/sat-prep--test-2-section-3-part-2">SAT Prep: Test 2 Section 3 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-2-section-3-part-3">SAT Prep: Test 2 Section 3 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-2-section-3-part-4">SAT Prep: Test 2 Section 3 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-2-section-3-part-5">SAT Prep: Test 2 Section 3 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-2-section-3-part-6">SAT Prep: Test 2 Section 3 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-2-section-6-part-1">SAT Prep: Test 2 Section 6 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-2-section-6-part-2">SAT Prep: Test 2 Section 6 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-2-section-6-part-3">SAT Prep: Test 2 Section 6 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-2-section-6-part-4">SAT Prep: Test 2 Section 6 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-2-section-6-part-5">SAT Prep: Test 2 Section 6 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-2-section-6-part-6">SAT Prep: Test 2 Section 6 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-2-section-9-part-1">SAT Prep: Test 2 Section 9 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-2-section-9-part-2">SAT Prep: Test 2 Section 9 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-2-section-9-part-3">SAT Prep: Test 2 Section 9 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-2-section-9-part-4">SAT Prep: Test 2 Section 9 Part 4</A></li>
    			</ol>
    		</li>
            <li>
    			Old Book:Test 3, New Book: Test 5
    			<ol data-inset="true">
    				<li><A href="/video/sat-prep--test-3-section-2-part-1">SAT Prep: Test 3 Section 2 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-3-section-2-part-2">SAT Prep: Test 3 Section 2 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-3-section-2-part-3">SAT Prep: Test 3 Section 2 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-3-section-2-part-4">SAT Prep: Test 3 Section 2 Part 4</A></li>
                    <li><A href="/video/test-3-section-2-part-5">SAT Prep: Test 3 Section 2 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-3-section-4-part-1">SAT Prep: Test 3 Section 4 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-3-section-4-part-2">SAT Prep: Test 3 Section 4 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-3-section-4-part-3">SAT Prep: Test 3 Section 4 Part 3</A>
                    <li><A href="/video/sat-prep--test-3-section-4-part-4">SAT Prep: Test 3 Section 4 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-3-section-4-part-5">SAT Prep: Test 3 Section 4 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-3-section-8-part-1">SAT Prep: Test 3 Section 8 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-3-section-8-part-2">SAT Prep: Test 3 Section 8 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-3-section-8-part-3">SAT Prep: Test 3 Section 8 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-3-section-8-part-4">SAT Prep: Test 3 Section 8 Part 4</A></li>
                </ol>
    		</li>
    		<li>
    			Old Book:Test 4, New Book:Test 6
                <ol data-inset="true">	
    				<li><A href="/video/sat-prep--test-4-section-2-part-1">SAT Prep: Test 4 Section 2 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-4-section-2-part-2">SAT Prep: Test 4 Section 2 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-4-section-2-part-3">SAT Prep: Test 4 Section 2 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-4-section-2-part-4">SAT Prep: Test 4 Section 2 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-4-section-2-part-5">SAT Prep: Test 4 Section 2 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-4-section-2-part-6">SAT Prep: Test 4 Section 2 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-4-section-4-part-1">SAT Prep: Test 4 Section 4 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-4-section-4-part-2">SAT Prep: Test 4 Section 4 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-4-section-4-part-3">SAT Prep: Test 4 Section 4 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-4-section-4-part-4">SAT Prep: Test 4 Section 4 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-4-section-8-part-1">SAT Prep: Test 4 Section 8 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-4-section-8-part-2">SAT Prep: Test 4 Section 8 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-4-section-8-part-3">SAT Prep: Test 4 Section 8 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-4-section-8-part-4">SAT Prep: Test 4 Section 8 Part 4</A></li>
                </ol>
            </li>
    		<li>
    			Old Book: Test 5, New Book: Test 7
    			<ol data-inset="true">
    				<li><A href="/video/sat-prep--test-5-section-3-part-1">SAT Prep: Test 5 Section 3 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-5-section-3-part-2">SAT Prep: Test 5 Section 3 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-5-section-3-part-3">SAT Prep: Test 5 Section 3 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-5-section-3-part-4">SAT Prep: Test 5 Section 3 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-5-section-3-part-5">SAT Prep: Test 5 Section 3 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-5-section-3-part-6">SAT Prep: Test 5 Section 3 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-5--section-7-part-1">SAT Prep: Test 5  Section 7 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-5-section-7-part-2">SAT Prep: Test 5 Section 7 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-5-section-7-part-3">SAT Prep: Test 5 Section 7 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-5-section-7-part-4">SAT Prep: Test 5 Section 7 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-5-section-7-part-5">SAT Prep: Test 5 Section 7 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-5-section-7-part-6">SAT Prep: Test 5 Section 7 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-5-section-9-part-1">SAT Prep: Test 5 Section 9 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-5-section-9-part-2">SAT Prep: Test 5 Section 9 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-5-section-9-part-3">SAT Prep: Test 5 Section 9 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-5-section-9-part-4">SAT Prep: Test 5 Section 9 Part 4</A></li>
    			</ol>
    		</li>
			<li>
				Old Book: Test 6, New Book: Test 8
				<ol data-inset="true">
				    <li><A href="/video/sat-prep--test-6-section-3-part-1">SAT Prep: Test 6 Section 3 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-6-section-3-part-2">SAT Prep: Test 6 Section 3 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-6-section-3-part-3">SAT Prep: Test 6 Section 3 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-6-section-3-part-4">SAT Prep: Test 6 Section 3 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-6-section-3-part-5">SAT Prep: Test 6 Section 3 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-6-section-7-part-1">SAT Prep: Test 6 Section 7 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-6-section-7-part-2">SAT Prep: Test 6 Section 7 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-6-section-7-part-3">SAT Prep: Test 6 Section 7 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-6-section-7-part-4">SAT Prep: Test 6 Section 7 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-6-section-7-part-5">SAT Prep: Test 6 Section 7 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-6-section-7-part-6">SAT Prep: Test 6 Section 7 Part 6</A></li>
                    <li><A href="/video/sat-prep--test-6-section-9-part-1">SAT Prep: Test 6 Section 9 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-6-section-9-part-2">SAT Prep: Test 6 Section 9 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-6-section-9-part-3">SAT Prep: Test 6 Section 9 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-6-section-9-part-4">SAT Prep: Test 6 Section 9 Part 4</A></li>
				</ol>
			</li>
			<li>
				Old Book: Test 7, New Book: Test 9
				<ol data-inset="true">
				    <li><A href="/video/sat-prep--test-7-section-2-part-1">SAT Prep: Test 7 Section 2 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-7-section-2-part-2">SAT Prep: Test 7 Section 2 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-7-section-2-part-3">SAT Prep: Test 7 Section 2 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-7-section-2-part-4">SAT Prep: Test 7 Section 2 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-7-section-5-part-1">SAT Prep: Test 7 Section 5 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-7-section-5-part-2">SAT Prep: Test 7 Section 5 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-7-section-5-part-3">SAT Prep: Test 7 Section 5 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-7-section-5-part-4">SAT Prep: Test 7 Section 5 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-7-section-5-part-5">SAT Prep: Test 7 Section 5 Part 5</A></li>
                    <li><A href="/video/sat-prep--test-7-section-8-part-1">SAT Prep: Test 7 Section 8 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-7-section-8-part-2">SAT Prep: Test 7 Section 8 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-7-section-8-part-3">SAT Prep: Test 7 Section 8 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-7-section-8-part-4">SAT Prep: Test 7 Section 8 Part 4</A></li>
				</ol>
			</li>
			<li>
				Old Book: Test 8, New Book: Test 10
				<ol data-inset="true">			
				    <li><A href="/video/sat-prep--test-8-section-2-part-1">SAT Prep: Test 8 Section 2 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-8-section-2-part-2">SAT Prep: Test 8 Section 2 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-8-section-2-part-3">SAT Prep: Test 8 Section 2 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-8-section-2-part-4">SAT Prep: Test 8 Section 2 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-8-section-5-part-1">SAT Prep: Test 8 Section 5 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-8-section-5-part-2">SAT Prep: Test 8 Section 5 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-8-section-5-part-3">SAT Prep: Test 8 Section 5 Part 3</A></li>
                    <li><A href="/video/sat-prep--test-8-section-5-part-4">SAT Prep: Test 8 Section 5 Part 4</A></li>
                    <li><A href="/video/sat-prep--test-8-section-8-part-1">SAT Prep: Test 8 Section 8 Part 1</A></li>
                    <li><A href="/video/sat-prep--test-8-section-8-part-2">SAT Prep: Test 8 Section 8 Part 2</A></li>
                    <li><A href="/video/sat-prep--test-8-section-8-part-3">SAT Prep: Test 8 Section 8 Part 3</A></li>
				</ol>
			</li>
    	</ul>	
	</div>
</div>	

</td>
</tr>

</table>

<P>&nbsp;<P>
<table width=100% border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td bgcolor=#3366cc><img width=1 height=1 alt=""></td>
  </tr>

</table>
<center>
<font size=-2>
<A href="http://youtube.com/khanacademy" target="newwin"><b>YouTube Channel</b></A> 
</font>
<p><font size=-2>&copy;2010 Khan Academy</font></p>
</p>
</center>
</td>
</tr>
</table>


</body>
</html>


