{% extends "page_template.html" %}
{% block pagetitle %}
Credits
{% endblock %}
{% block pagecontent %}
    <article id="credits">
        <section>
            <h1 class="section-headline"><a name="contributors">Volunteers and Part-Time Contributors</a></h1>
            <p>The Khan Academy community would like to thank the following people
            who recently dedicated their time, energy, and expertise (in alphabetical order):</p>
            <dl>
                <dt>abarwale</dt><dd>Closed captioning.</dd>
                <dt>abhishekmishra3</dt><dd>Closed captioning.</dd>
                <dt>Kelkar Amol</dt><dd>Closed captioning.</dd>
        		<dt>antimatter15</dt><dd>New iPad-friendly scratchpad.</dd>
                <dt>Maneesh Arora</dt><dd>Website analytics, Facebook integration, user interface mockups.</dd>
                <dt>Eric Berger</dt><dd>Multiple exercise modules.</dd>
                <dt>blowingdandelions</dt><dd>Closed captioning.</dd>
                <dt>Bill Bonner</dt><dd>Divisibility and scientific notation exercise modules, issue triage.</dd>
                <dt>Dean Brettle</dt><dd>Release management, exercise scratch pad, periodic exercise review, Facebook login,
                video viewing page.</dd>
                <dt>Joey Chang</dt><dd>Exercise modules and upcoming iOS work.</dd>
                <dt>Robert Conrad</dt><dd>Patch to warn students that the hint button resets streaks.</dd>
                <dt>James Crook</dt><dd>Closed captioning.</dd>
                <dt>gulickh</dt><dd>Closed captioning.</dd>
                <dt>HamiDjoukouMi</dt><dd>Dutch translation of videos.</dd>
                <dt>Karen Hubert</dt><dd>Closed captioning.</dd>
                <dt>Vishal Kapur</dt><dd>Qbrary (not released).</dd>
                <dt>Peter Kuperman</dt><dd>Volunteer outreach coordination.</dd>
                <dt>KhanAcademyEnEspanol</dt><dd>Spanish translation of videos.</dd>
                <dt>Michael Malione</dt><dd>Common Core standards research.</dd>
                <dt>John Michelsen</dt><dd>Progress reports/charts, teacher tools, standalone server.</dd>
                <dt>Srinivas Panguluri</dt><dd>Bug fixes and exercise module refactoring.</dd>
                <dt>Omar Rizwan</dt><dd>General exercise framework improvements and tons of exercise modules covering topics in trigonometry, precalculus, and calculus, among others.</dd>
                <dt>Jahanzeb Sherwani</dt><dd>Qbrary (not released).</dd>
                <dt>Michael Steiner</dt><dd>Issue triage, forum management, and community moderation.</dd>
                <dt>Cam Stewart</dt><dd>Issue triage, forum management, and community moderation.</dd>
                <dt>Ford Stewart</dt><dd>Issue triage, forum management, and community moderation.</dd>
                <dt>Max Van Keuren</dt><dd>Closed captioning.</dd>
                <dt>Harley Witt</dt><dd>Issue triage and video discussion moderation.</dd>
            </dl>
            <p>If you've recently helped out as a volunteer and we've accidentally left you off the
            above list, please <a href="/reportissue?type=Defect&issue_labels=Component-Code">let us know</a>.
            If you want to volunteer, please see <a href="/contribute">how to help</a>.</p>
        </section>
    </article>
{% endblock %}
